.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;
}
.modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}
.modal > section > footer {
    padding: 12px 16px;
    text-align: right;
}
.modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 13px;
}
.modal.reportModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#weather-select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 17px;
    background: #ffffff;
}

.weather-select-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 45px;
    height: 45px;
    background: #edf9ff;
    border-radius: 7px;
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #000000;
}

.weather-selected-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    width: 45px;
    height: 45px;
    background: #c5e8fc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #000000;
}

#photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 22px;
    gap: 1px;
    left: 38px;
    top: 88px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#photo-label {
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #373737;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    padding-top: 5px;
}

.slider-label {
    width: 30%;
    margin: 0;
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #000000;
}

#submit-button {
    padding: 10px 22px;
    gap: 6px;
    background: #3185e7;
    border-radius: 12px;
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #ffffff;
    width: 300px;
}

.navreport-margin-top {
    padding: 6px;
}

.navreport-margin-bottom {
    padding: 12px;
}