@import "../../../node_modules/bootstrap/scss/bootstrap";



#postlist-modal-container {
    height: 5vh;
    padding: 2vh 0;
}

#posts-container {
    height: calc(100% - 5vh);
    overflow-y: scroll;
    overflow-x: hidden;
}

#posts-container::-webkit-scrollbar{
    display: none;
}
.post-and-chain-container {
    margin: 0 5px;
}
#add-post-button {
    background-color: #3185E7;
    border-radius: 18px;
    border: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    position: absolute;
    z-index: 10;
    bottom: 5%;
}

$custom-sizes: (
    "custom-size": (
        property: width,
        class: w,
        values: (
            60: 60%,
        ),
    ),
);
// Merge the maps
$utilities: map-merge($utilities, $custom-sizes);

$custom-margin: (
    "margin": (
        responsive: true,
        property: margin,
        class: m,
        values:
            map-merge(
                $spacers,
                (
                    auto: 0 auto,
                )
            ),
    ),
);

$custom-max-height: (
    "max-height": (
        property: max-height,
        class: mh,
        values: (
            100: 100%,
            70: 70%,
            60: 60%,
        ),
    ),
);

$utilities: map-merge($utilities, $custom-margin);
$utilities: map-merge($utilities, $custom-max-height);
@import "../../../node_modules/bootstrap/scss/bootstrap";
$utilities: map-remove($utilities, "margin");
$utilities: map-remove($utilities, "max-height");

$mobile: 767px;
$tablet: 1024px;

@mixin mobile {
    @media (max-width: $mobile){
        @content;
  }
}
@mixin tablet {
    @media (min-width: ($mobile + 1)) and (max-width: $tablet){
        @content;
  }
}
@mixin desktop {
    @media (min-width: ($tablet + 1)){
        @content;
  }
}

@include mobile {
    #PostList {
        height: calc(100vh - 420px);
    }
    #add-post-button {
        left: 75%;
    }
}
@include tablet {
    #PostList {
        height: calc(100vh - 420px);
    }
    #add-post-button {
        left: 85%;
    }
}

@include desktop {
    #PostList {
        height: calc(100vh - 200px);
        width: 100%;
    }
    #add-post-button {
        left: 90%;
    }
}