.skim-stats {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-family: 'NanumGothic', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  text-align: left;
}