django==4.1.2
coverage==6.5
pylint==2.15.5
pylint-django==2.5.3
django-fakeredis==0.1.2
django-redis==5.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
fakeredis==2.2.0
Pillow==9.2.0
haversine==2.7.0
numpy==1.23.4
