$main-color: #3185e7;
$sub-color: #F88282;
$small-text: 12px;
$button-size: 20px;
$top: 20px;

.MyPage {
  height: 100%;
  width: 100%;
  background-color: white;

  font-family: "NanumGothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $small-text;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.MyPage .Header {
  padding: 10px;
  filter: drop-shadow(0 10px 10px rgba(0,0,0,0.1));
}

.MyPage #button-container {
  margin: 0;
  // background-color: #ddd;
  text-align: left;

  position: absolute;
  left: 5vw;
  top: $top;
  width: 100px;
  height: $button-size;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.MyPage #button-container .button {
  font-size: $button-size;
  height: $button-size;
  width: $button-size;
  cursor: pointer;
  z-index: 100;
}

.MyPage #mypage-title {
    height: 30px;
    width: auto;
    line-height: 140%;

    position: relative;
    top: 10px;
    font-size: 16px;

    justify-content: center;
}

.MyPage .Content {
    padding: 0 5vw;
    padding-bottom: 10px;
}
.MyPage #profile-container {
  text-align: center;
  margin-top: 20px;
}
.MyPage #profile-sub-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.MyPage #profile-col #user-name {
  text-align: center;
  // margin-left: 1px;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
}
.MyPage #main-badge-container {
  width: 100px;
}
.MyPage #main-badge {
  background-color: #ddd;
  margin-left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  text-align: right;
}
.MyPage #profile-container button{
  border-radius: 13px;
  width: 100px;
  border: none;
  color: white;
  font-weight: 600;
  height: 23px;
}
.MyPage #profile-butons{
  display: flex;
  gap: 5px;
}
.MyPage #see-badges-button {
  background-color: $main-color;
}
.MyPage #logout-button {
  background-color: $sub-color;
}
.MyPage #profile-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.MyPage .title {
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
  font-weight: 800;
  font-size: 16px;
}
.MyPage #only-photos-button {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}
.MyPage #postlist-container {
  height: calc(100vh - 370px);
  overflow: scroll;
  margin-top: 10px;
}