#upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 4px 0px 2px;
  gap: 187px;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
  padding: 0px;
  gap: 28px;
}

.search-input-container {
  width: 90vw;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.search-input-container > input {
  width: 70%;
  height: 40px;
}

#lower-map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
  gap: 10px;
  width: 100vw;
}

.radius-slider-container {
  padding: 4px;
  width: 50%;
}

.radius-slider-container p {
  width: 115px;
  height: 11px;

  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */

  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  /* 40% Black */

  color: rgba(0, 0, 0, 0.4);


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.radius-slider-container #radius-slider {
  width: 100%;
  height: 50%;
  margin: 0;
  /* padding: 0; */
}

.findout-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 25%;
  height: 30px;

  /* Dark Blue */

  border: 2px solid #3185E7;
  border-radius: 12px;

  /* Inside auto layout */

  /* flex: none;
  order: 1;
  flex-grow: 0; */
}

.findout-container button {
  border: 0;
  width: 100%;
  height: 100%;
  flex: none;
  order: 1;
  flex-grow: 0;
  
  color: #3185E7;
  font-weight: 700;
  line-height: 140%;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
}