$primary: #3185e7;
@import "../../../node_modules/bootstrap/scss/functions";

$font-sizes: (
    1: 1rem * 2.5,
    2: 1rem * 2,
    3: 1rem * 1.5,
    4: 1rem * 1.25,
    5: 1rem,
    6: 1rem * 0.75,
    7: 1rem * 0.85,
    8: 1rem * 0.5,
);
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
:root {
    --bs-body-font-family: "Nanum Gothic", sans-serif;
}

#post-text {
    padding-left: 5px;
    font-size: 14px;
}

.tldiv {
    margin-left: 5px;
    font-size: 10px;
}

#post-photo {
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 0;
}

.post-image {
    max-height: 10vh;
    border-radius: 0;
}

#user-name {
    margin-left: 5px;
    font-size: 14px;
}
