.SignIn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 8px;
    font-size: 12px;
    line-height: 200%;
    height: 100%;
    width: 360px;
    overflow: auto;
}

.SignIn #header-container {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 360px;
}

.SignIn #page-info-container {
    display: flex;
    height: 40px;
}
#signin-title {
    display: flex;
    font-size: 22px;
}

.SignIn #nowsee-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding-bottom: 15%;
}

.SignIn .login-form {
    display: flex;
    flex-flow: row wrap;
    // flex-direction: column;
    align-items: flex-start;
    flex-basis: 360px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.SignIn span {
    display: flex;
    flex-basis: 360px;
    margin-bottom: 10px;
    position: relative;
}

.SignIn .icon{
    position: absolute;
    top: 0px;
    left: 15px;
    width: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.SignIn .input-container {
    display: flex;
    flex-basis: 360px;
    line-height: 300%;
    background: #F5F5F5;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    max-width: 97%;
}

.SignIn .focused-input-container {
    display: flex;
    flex-basis: 360px;
    line-height: 300%;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    max-width: 97%;
}

.SignIn input {
    display: flex;
    flex-basis: 360px;
    line-height: 300%;
    background: #F5F5F5;
    margin-left: 40px;
    margin-right: 20px;
    border: 0px;
    font-weight: bold;
}

.SignIn .api-error-message {
    display: flex;
    flex-basis: 360px;
    font-size: 9px;
    line-height: 200%;
    color: red;
    max-width: 97%;
}

.SignIn .button-container {
    display: flex;
    flex-flow: row wrap;
    margin: 28px 0;
    flex-basis: 360px;
}

.SignIn button {
    flex-basis: 360px;
    line-height: 300%;
    background: #3185E7;
    color: #FFFFFF;
    // box-shadow: 0px 4px 4px 0px #00000040;
    border: 1px solid #3185E7;
    border-radius: 20px;
    max-width: 97%;
    margin-bottom: 18px;
    font-size: 15px;
    line-height: 200%;
    font-weight: bold;
    height: 40px;
}

.SignIn #signup-button {
    background: #FFFFFF;
    color: #3185E7;
}