$main-color: #3185e7;
$sub-color: #f88282;
$small-text: 12px;
$button-size: 20px;
$top: 20px;

.MyBadges {
  height: 100%;
  width: 100%;
  background-color: white;

  font-family: "NanumGothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $small-text;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.MyBadges .Header {
  padding: 10px;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1));
}
.MyBadges .Content {
	padding: 0 5vw;
	padding-bottom: 10px;
}
.MyBadges #button-container {
  margin: 0;
  // background-color: #ddd;
  text-align: left;

  position: absolute;
  left: 5vw;
  top: $top;
  width: 100px;
  height: $button-size;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.MyBadges #button-container .button {
  font-size: $button-size;
  height: $button-size;
  width: $button-size;
  cursor: pointer;
  z-index: 100;
}

.MyBadges #mybadges-title {
	height: 30px;
	width: auto;
	line-height: 140%;

	position: relative;
	top: 10px;
	font-size: 16px;

	justify-content: center;
}

.MyBadges #main-badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
		margin-top: 20px;
}
#selected-badge {
    box-shadow: -3px -3px 6px rgba(255,255,255,0.45),
     3px 3px 6px rgba(94,104,121,0.3);
    height: 16vh;
    width: 12vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
#badges-header-container .area-label{
    font-size: 10px;
    font-weight: 500;
    text-align: left;
    margin-left: 1vw;
    margin-bottom: 10px;
    display: flex;
    // flex-direction: column;
    align-items: flex-end;
}
#badges-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #F5F5F5;
    border-radius: 20px;
    max-width: 97%;
}
#set-main-badge-button {
    margin-top: 5vh;
    border: 1px solid #2A79D6;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 4px 6px 4px 6px;
    color: #3185E7;
    font-weight: bold;
}
// .MyBadges {
//     padding-top: 10px;
//     font-size: 12px;
// }
// #mybadges-title {
//     font-size: 18px;
//     padding-bottom: 20px;
// }

// .MyBadges #main-badge-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// #selected-badge {
//     box-shadow: -3px -3px 6px rgba(255,255,255,0.45),
//      3px 3px 6px rgba(94,104,121,0.3);
//     height: 14vh;
//     width: 12vh;
//     display: flex;
//     justify-content: center;
//     border-radius: 10px;
// }

// #badges-header-container .area-label{
//     font-size: 10px;
//     font-weight: 500;
//     text-align: left;
//     margin-left: 5px;
//     margin-bottom: 10px;
//     display: flex;
//     // flex-direction: column;
//     align-items: flex-end;
// }

// #badges-list {
//     display: flex;
//     flex-flow: row wrap;
//     align-items: center;
//     justify-content: space-around;
//     border: 1px solid #F5F5F5;
//     border-radius: 20px;
//     max-width: 97%;
// }

// #set-main-badge-button {
//     margin-top: 5vh;
//     border: 1px solid #2A79D6;
//     background: #FFFFFF;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
//     border-radius: 15px;
//     padding: 4px 6px 4px 6px;
//     color: #3185E7;
//     font-weight: bold;
// }
