$main-color: #3185E7;
$sub-color: #EDF9FF;
// .col {
//   border: 1px solid black;
// }
// .row {
//   background-color: #eee;
// }

.search-box-container {
  // display: flex;
  text-align: center;
}

.search-result-box {
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}
.search-result-box .search-result-list {
  width: 100%;
  border: none;
}
.search-result-box .search-result{
  font-size: 12px;
  height: 30px;
  font-family: "NanumGothic", sans-serif;
}

.search-result-pagination idx {
  background-color: $main-color;
  color: $main-color;
}