@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Source+Sans+Pro&display=swap');
.App {
    /* margin: 10px 20px; */
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    font-family: "NanumGothic", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    
    text-align: center;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.75);
}