$main-color: #3185e7;
$sub-color: #F88282;
$small-text: 12px;
$button-size: 20px;
$top: 20px;

.PostDetail {
  height: 100%;
  width: 100%;
  background-color: white;

  font-family: "NanumGothic", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: $small-text;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.PostDetail .Header {
	padding: 10px;
	filter: drop-shadow(0 10px 10px rgba(0,0,0,0.1));
}

.PostDetail #button-container {
  margin: 0;
  // background-color: #ddd;
  text-align: left;

  position: absolute;
  left: 5vw;
  top: $top;
  width: 100px;
  height: $button-size;

  display: flex;
  flex-direction: row;
  gap: 15px;
}

.PostDetail #button-container .button {
  font-size: $button-size;
  height: $button-size;
  width: $button-size;
  cursor: pointer;
  z-index: 100;
}

#main-post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "NanumGothic", serif;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0 auto;
    width: 95%;
}

#upper-post-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 10px;
}

#author-main-badge img{
    width: 5vw;
}

#author-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
		margin-top: 40px;
}

#author-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

#time-and-location {
	font-family: "NanumGothic", serif;
	font-weight: 500;
	position: relative;
	top: -10px;
}

#author-name {
    font-family: "NanumGothic", serif;
    font-weight: bold;
    font-size: 14px;
}

#main-post-content {
    display: flex;
    width: 80%;
    font-size: 14px;
    font-weight: 100;
    padding: 10px;
}

#main-post-image-div {
    display: flex;
    width: 80%;
    justify-content: center;
    //border: 1px solid;
}

#lower-post-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    gap: 10px;
}

#hashtag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
    font-family: "NanumGothic", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

img {
    object-fit: contain;
    width: 100%;
    border-radius: 25px;
}

#main-post-image {
    object-fit: scale-down;
    max-width: 100%;
    border-radius: 25px;
}

#reply-posts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "NanumGothic", serif;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 5vh;
}
